*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video{
    width: 100%;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: white;
    font-size: 1.2rem;
}
.container1{
    background-color: #9a8181;
    display: flex;
}
.container1 image{
    width: 200px;
    height: 200px;
    margin: 2% 6%;
}
.container1.title{
    padding: 10% 15%;
}
.container2{
    background-color: #ffff;
    display: flex;
}
.container2 image{
    width: 200px;
    height: 200px;
    margin: 2% 6%;
}
.container2.title{
    padding: 10% 15%;
}